{% load static %}
<html lang="zh-CN">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>クローラーの転職情報検索エンジン-by Django</title>
    <link href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">
    <link href="{% static 'dashboard.css' %}" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'index' %}">求人検索エンジン</a>
        </div>

          <div id="main-navbar" class="collapse navbar-collapse">
              <ul id="menu" class="nav navbar-nav main-navbar-nav header_right pull-right">
                  <li>
                      <a href="#">
                          ログイン
                      </a>
                  </li>
                  <li>
                      <a href="#"  data-toggle="modal" data-target=".bs-example-modal-lg">
                         情報
                      </a>
                  </li>
              </ul>
              <form class="navbar-form navbar-right" method="post" action="/companys/">
                  {% csrf_token %}
                  <input type="text" class="form-control" placeholder="企業検索..." name="key_word">
                  <input  class="btn btn-info" type="submit" value="検索"></form>
              </form>
          </div>
      </div>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active page-header"><h5><span class="glyphicon glyphicon-search"></span>開発言語で絞る</h5></li>
            <li><a href="{% url 'language' key_word='Python3' %}">Python3</a></li>
            <li><a href="{% url 'language' key_word='PHP' %}">PHP</a></li>
            <li><a href="{% url 'language' key_word='Ruby' %}">Ruby</a></li>
            <li><a href="{% url 'language' key_word='Objective-C' %}">Objective-C</a></li>
            <li><a href="{% url 'language' key_word='ActionScript' %}">ActionScript</a></li>
            <li><a href="{% url 'language' key_word='C' %}">C</a></li>
            <li><a href="{% url 'language' key_word='JavaScript' %}">JavaScript</a></li>
            <li><a href="{% url 'language' key_word='Scala' %}">Scala</a></li>
            <li><a href="{% url 'language' key_word='R言語' %}">R言語</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active page-header"><h5><span class="glyphicon glyphicon-search"></span>フレームワークで絞る</h5></li>
            <li><a href="{% url 'frameworks' key_word='Laravel' %}">Laravel</a></li>
            <li><a href="{% url 'frameworks' key_word='Struts' %}">Struts</a></li>
            <li><a href="{% url 'frameworks' key_word='Django' %}">Django</a></li>
            <li><a href="{% url 'frameworks' key_word='Flask' %}">Flask</a></li>
            <li><a href="{% url 'frameworks' key_word='CakePHP' %}">CakePHP</a></li>
            <li><a href="{% url 'frameworks' key_word='Ruby%20on%20Rails' %}">Ruby on Rails</a></li>
            <li><a href="{% url 'frameworks' key_word='FuelPHP' %}">FuelPHP</a></li>
            <li><a href="{% url 'frameworks' key_word='Unity' %}">Unity</a></li>
            <li><a href="{% url 'frameworks' key_word='AngularJS' %}">AngularJS</a></li>
          </ul>
          <ul class="nav nav-sidebar">
            <li class="active page-header"><h5><span class="glyphicon glyphicon-search"></span>職種／ポジション</h5></li>
            <li><a href="{% url 'occupation' key_word='システムエンジニア【SE】' %}">システムエンジニア【SE】</a></li>
            <li><a href="{% url 'occupation' key_word='プログラマー【PG】' %}">プログラマー【PG】</a></li>
            <li><a href="{% url 'occupation' key_word='スマートフォンエンジニア' %}">スマートフォンエンジニア</a></li>
            <li><a href="{% url 'occupation' key_word='フロントエンドエンジニア' %}">フロントエンドエンジニア</a></li>
            <li><a href="{% url 'occupation' key_word='CTO' %}">CTO</a></li>
          </ul>
             <ul class="nav nav-sidebar">
            <li class="active page-header"><h5><span class="glyphicon glyphicon-search"></span>勤務地で絞る</h5></li>
            <li><a href="{% url 'job_offers' key_word='東京都' %}">東京都</a></li>
            <li><a href="{% url 'job_offers' key_word='神奈川県' %}">神奈川県</a></li>
            <li><a href="{% url 'job_offers' key_word='愛知県' %}">愛知県</a></li>
             <li><a href="{% url 'job_offers' key_word='大阪府' %}">大阪府</a></li>
            <li><a href="{% url 'job_offers' key_word='福岡県' %}">福岡県</a></li>
          </ul>
        </div>
        {% block content %}



        {% endblock %}
      </div>
    </div>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://cdn.bootcss.com/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="{% static 'holder.min.js' %}"></script>
  </body>
</html>
<!-- Large modal -->
